snippet s
# ${1:Section Name}
${2}
endsnippet

snippet ss "Sub Section" b
## ${1:Section Name}
${2}
endsnippet

snippet sss
### ${1:Section Name}
${2}
endsnippet

snippet link
[${1:text}](${2:http://url.com})
endsnippet

snippet img
![${1:pic}](${2:path} ${3:title})
endsnippet
