body {
    background: #333;
    line-height : 1.3em;
}

a {
    text-decoration: none;
}

a:link {
    color : #0cf;
}

a:link:hover {
    text-decoration : underline;
}

.incoming {
    color : #fff;
}

.incoming:hover {
  background : #444;
  color : white;
}

.outgoing {
    color : #999;
}

.outgoing:hover {
  background : #444;
  color : white;
}

input {
    background : black
    border : 2px solid #0cf;
}
        
.incomingName {
    color : #3bcfff;
}

.outgoingName {
    color : #ff178a;
}

.status {
    padding : 1em;
    color : #7bff2c;
    text-transform : uppercase;
    border-top : 1px dashed #7bff2c;
    border-bottom : 1px dashed #7bff2c;
    margin : 1em 0;
}

.message {
  padding : 2px 5px;
}

.timestamp {
  float: right;
  color : #666;
}

.outgoing:hover .timestamp,
.incoming:hover .timestamp {
  color : #ccc;
}
