// add rules to apps that dont have tileable state by default
// kwmc rule owner="iTerm2" properties={role="AXDialog"}

// The following commands create rules that blacklists an application from Kwms tiling
kwmc rule owner="Harvest" properties={float="true"}
kwmc rule owner="VOX" properties={float="true"}
kwmc rule owner="Finder" properties={float="true"}
kwmc rule owner="CleanMyMac 3" properties={float="true"}
kwmc rule owner="Reminders" properties={float="true"}
kwmc rule owner="System Preferences" properties={float="true"}

// The following command creates a rule that captures an application to the given screen, if the screen exists.
kwmc rule owner="Firefox" properties={display="0"}
kwmc rule owner="HYPERTerm" properties={display="0"}
kwmc rule owner="Terminal" properties={display="0"}
kwmc rule owner="Calendar" properties={display="1"}
kwmc rule owner="ForkLift" properties={display="1"}
kwmc rule owner="Mail" properties={display="1"}
kwmc rule owner="Telegram" properties={display="1"}
kwmc rule owner="Messages" properties={display="1"}
