[mysqld]
# Only allow connections from localhost
bind-address = 127.0.0.1

# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include *.cnf from the config directory
#
!includedir /opt/homebrew/etc/my.cnf.d

