<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2E94CD5C-546F-4BCA-BC63-E2B68BB9AF68</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>we</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Search english Wikipedia for '{query}'</string>
			<key>url</key>
			<string>https://en.wikipedia.org/w/index.php?search={query}&amp;title=Special%3ASearch&amp;go=Go</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>600B688B-C5CF-4AB8-AB23-6AFC3E14A90A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>le</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search LEO for '{query}'</string>
			<key>url</key>
			<string>https://dict.leo.org/englisch-deutsch/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8D81E46D-73D0-486C-9A47-7436AA5D81AA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rt</string>
			<key>text</key>
			<string>Search Rotten Tomatoes for '{query}'</string>
			<key>url</key>
			<string>https://www.rottentomatoes.com/search/?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A80CA0F8-068C-4554-AF2F-2DF59D6A782B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Search Stackoverflow for '{query}'</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BDBB5F84-0CDD-4545-B2B0-7EE31B3B0D68</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search npm packages for '{query}'</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C512FD4C-7499-4308-8CBC-DB0B17F9819F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>th</string>
			<key>text</key>
			<string>Thesaurus</string>
			<key>url</key>
			<string>https://www.openthesaurus.de/synonyme/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D82ED407-3DBF-47AF-A57C-2EA5055D4A20</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search github.com for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
